{% extends 'header.html' %}
{% load static %}
{% block main %}
    <div class="main">
        <div class="wrapper">
            <div class="content">
                <div class="roll-wrapper">
                    <ul class="roll_ul">
                        <li><img src="{% static 'imgs/4.jpg' %}" alt=""></li>
                        <li><img src="{% static 'imgs/3.jpg' %}" alt=""></li>
                        <li><img src="{% static 'imgs/2.jpg' %}" alt=""></li>
                        <li><img src="{% static 'imgs/1.jpg' %}" alt=""></li>
                    </ul>
                    <span class="arrow left">‹</span>
                    <span class="arrow right">›</span>
                    <div class="page-controll-group">
                        <ul class="page-controll">

                        </ul>
                    </div>
                </div>
                <div class="news-wrapper">
                    <div class="news-title">
                        <ul class="news-title-ul">
                            <li><a href="">最新资讯</a></li>
                            <li><a href="">热点</a></li>
                            <li><a href="">深度报道</a></li>
                            <li><a href="">干货分享</a></li>
                            <li><a href="">投资人说</a></li>
                        </ul>
                    </div>
                    <div class="news-content">
                        <div class="news-tag news-content1">
                            <div class="news_img1">
                                <img src="{% static 'imgs/news1.jpeg' %}" alt="">
                            </div>
                            <div class="news_img1_detail">
                                <p class="news_img1_item title_item">
                                    <a href="">王健林卖掉进军海外首个项目：17亿兜售伦敦ONE六成股权</a>
                                </p>
                                <p class="news_img1_item content_item">
                                    <a href="">外界关于万达要出售此前在海外投资项目的消息一直不断</a>
                                </p>
                                <p class="news_img1_item footer_item">
                                    <span class="footer1"><a href="">深度报道</a></span>
                                    <span class="footer2"><a href="">2019-10-28 17:30:45</a></span>
                                    <span class="footer3"><a href="">admin</a></span>
                                </p>
                            </div>
                        </div>
                        <div class="news-tag news-content2">
                            <div class="news_img1">
                                <img src="{% static 'imgs/news2.jpg' %}" alt="">
                            </div>
                            <div class="news_img1_detail">
                                <p class="news_img1_item title_item">
                                    <a href="">赵宁深夜聊骚的新闻一直曾出不断，真相究竟如何？</a>
                                </p>
                                <p class="news_img1_item content_item">
                                    <a href="">外界关于万达要出售此前在海外投资项目的消息一直不断</a>
                                </p>
                                <p class="news_img1_item footer_item">
                                    <span class="footer1"><a href="">深度报道</a></span>
                                    <span class="footer2"><a href="">2019-10-28 17:30:45</a></span>
                                    <span class="footer3"><a href="">admin</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-group">
                <div class="sidebar-title">
                    <span class="t1">在线课堂</span>
                    <span class="t2"><a href="">更多</a></span>
                </div>
                <div class="sidebar-img">
                    <img src="{% static 'imgs/news2.jpg' %}" alt="">
                </div>
                <div class="sidebar-item">
                    关注薪享宏福
                </div>
            </div>
        </div>
    </div>

{% endblock %}